html {
    background-color: #ffe2d1;
    font-family: 'Roboto Mono', monospace;
    color: #1c1c1c;
        --scroll-behavior: smooth;
        scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
}

.super {
    color: #ffe2d1;
    background-color: #1c1c1c;
}

.active-nav {
    background-color: tomato;
    color: white;
}

main {
    /* width: 80rem; */
    margin: 0 auto;
}

section {
    height: calc(100vh - 30vh);
    transition: 0.3s ease-in-out;
    border-bottom: solid 4px #1c1c1c;

}

#section--one {
}

.section__wrapper {
    padding: 4rem 3rem;

}

#navi {
    list-style-type: none;
    display: inline-block;
}

li {
    display: inline-block;
    padding: 0.5rem;
}
a {
    text-decoration: none;
}

h1 {
    font-size: 1.9rem;
}

p {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6;
}

.sidebar {
    background-color: #ffe2d1;
    border-top: solid 4px #1c1c1c;
    border-bottom: solid 4px #1c1c1c;
    box-sizing: border-box;
    position: fixed;
    top: 0;

}

.sidebar--wrapper {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}
/* @media screen and (min-width:0rem) { */
    /* .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 100px;
        grid-template-areas:
        "hd hd main main main main main main main main main main"
        "hd hd ft ft ft ft ft ft ft ft ft ft";
    } */

    /* .main {
        padding-top: 20vh;
    }

    .sidebar {
        grid-area: hd;
        height: 20vh;
        width: 100vw;
    }
} */

/* @media screen and (min-width: 48rem) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 100px;
        grid-template-areas:
        "hd hd main main main main main main main main main main"
        "hd hd ft ft ft ft ft ft ft ft ft ft";
    }

    .main {
        grid-area: main;
        width: calc(100vw/120*70);
    }

    .sidebar {
        grid-area: hd;
        height: 100vh;
        width: calc(100vw/120*30);
    }
} */

/* media query 64rem laptop screen */

/* @media screen and (min-width:64rem) { */
    /* general layout */

    .container {
        /* display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd hd hd hd hd"
        "main main main main main main main main main main main main"
        "ft ft ft ft ft ft ft ft ft ft ft ft"; */
    }

    .main {
        /* grid-area: main; */
        padding-top: 11vh;
    }

    .sidebar {
        /* grid-area: hd; */
        height: 10vh;
        width: 100vw;
    }

    .footer {
        /* grid-area: ft; */
        padding: 2rem 2rem 4rem 2rem;
        border-bottom: solid 4px #1c1c1c;
        border-top: solid 4px #1c1c1c;
        bottom: 0;
    }

